# Archivos objeto
*.o
.vscode
# Archivos de biblioteca
*.a

# Archivos temporales
*.swp
*~

# Archivos ejecutables
*.exe
*.out
*.app

# Directorios de compilación
build/
Debug/
Release/
server
client
.DS_Store
